@font-face {
    font-family: MyBold;
    src: url(Fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: MySemiBold;
    src: url(Fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: MyRegular;
    src: url(Fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: MyMedium;
    src: url(Fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: MyLight;
    src: url(Fonts/Poppins-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: MyRegular;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
    font-family: MyRegular;
}

button {
    cursor: pointer;
}

:root {
    --purple-color: #706fd3;
    --dark-purple-color: #474787;
    --font-color: #888;
    --bg-lightgrey: #f1f3f8;
    --footer-bg: #0e0e0e;
    --bg-color: #f7f6f6;
    --half-border-radius: 5px;
    --border-radius: 10px;
    --box-shadow: 0 25px 90px 0 #04020008;
}